[submodule "modules/activemq"]
	path = modules/activemq
	url = git://github.com/fsalum/puppetlabs-activemq.git
[submodule "modules/java"]
	path = modules/java
	url = git://github.com/puppetlabs/puppetlabs-java.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/vagrant"]
	path = modules/vagrant
	url = git://github.com/beckje01/puppet-vagrant.git
